name: Linting

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"
    - name: Run pre-commit hook
      uses: pre-commit/action@v3.0.1
